body {
    background-color: white;
    font-family: Arial, sans-serif;
}

main {
    display: flex;
    flex-direction: row;
}

#sidebar {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 130vh;
    width: 16vw;
    background-color: #5F737B;
    padding: 20px;
    box-sizing: border-box;
}

#sidebar > * {
    margin-top: 5px;
}

#sidebar h2 {
    margin: 15px;
    color: white;
    text-shadow: 1px 1px 5px black;
}

#sidebar select {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 7px;
    cursor: pointer;
} 

#sidebar label {
    width: 100%;
    margin-bottom: 3px;
    font-size: 20px;
    font-weight: bold;
}

#apply-button {
    height: 40px;
    width: 50%;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
    background-color: #98b0b9;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, background 0.2s ease-in-out;
}

#apply-button:hover {
    transform: translateY(-1px);
    background-color: #b5c2c6;
}

#adopt-dog-menu {
    padding: 40px;
    height: 130vh;
    width: 84vw;
    background-color: #CBA293;
    box-sizing: border-box;
}

#dog-location-sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#dog-location-sort select{
    cursor: pointer;    
}

#dog-adopt-me-input {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

#sort-by-button {
    width: 160px;
    font-size: 17px;
    border-radius: 5px;
}

.favoriteButton {
    background-color: white;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.5s ease; 
  }  

.dog-options {
    font-size: 15px;
}

.dog-options option[disabled] {
    display: none;
}

.dog-adopt-me {
    display: flex;
    border: 1px solid #000;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.dog-adopt-me img {
    height: 200px;
    width: 200px;
    border: 5px solid #374040;
    object-fit: cover;
    margin-right: 20px;
}

.dog-adopt-me-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.dog-adopt-me-container h1 {
    margin-bottom: 15px;
}

.dog-adopt-me-information {
    display: flex;
}

.dog-adopt-me-name-description {
    flex-grow: 1;
}

.dog-adopt-me-information-right {
    display: flex;
    flex-direction: column;
}

.dog-adopt-me-information-right p {
    max-width: 90%;
}

.dog-adopt-me-information-right-buttons {
    display: flex;
    margin-top: 35px;
}

.dog-adopt-me-information-right-buttons button {
    margin-right: 20px;
    height: 45px;
    width: 200px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.dog-adopt-me-information-right-buttons :nth-child(1) {
    border: 2px solid #ff8484;
    border-width: 2.5px;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, border-style 0.5s ease-in-out;
}

.dog-adopt-me-information-right-buttons :nth-child(1):hover {
    background-color: #ffd3d3;
    color: black; 
    border: 2px solid #ff9a9a;
}

.dog-adopt-me-information-right-buttons :nth-child(2) {
    color: white;
    background-color: #67757a;
    font-weight: 700;
    font-size: 19px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-style 0.3s ease-in-out;
}

.dog-adopt-me-information-right-buttons :nth-child(2):hover {
    background-color: #768e94;
    color: #FFFFFF; 
    border: 2px solid #788183;
}

.doggy-woof-grrrr {
    width: 400px;
    font-size: 18px;
    font-weight: 500;
}

.doggy-woof-grrrr > * {
    margin-top: 7px;
}

select {
    height: 50px;
}

select option:disabled {
    display: none;
}