* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: white;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    height: 12vh;
    box-shadow: 0 0 10px black;
}

main {
    display: flex;
    flex-direction: column;
}

#homepage-logo {
    display: flex;
    align-items: center;
    height: 12vh;
    margin: 10px;
}

#homepage-logo h1 {
    margin: 16px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.412);
}

#homepage-logo img {
    display: flex;
    height: 70px;
    width: 70px;
}

#homepage-navigation-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    height: 12vh;
    width: 20vw;
}

#homepage-navigation-buttons button {
    padding: 10px 20px 10px 20px;
    background-color: #5F737B;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.548);
    font-weight: bold;
    color: white;
}

#homepage-main-image {
    margin: 0 0 50px 0;
    height: 70vh;
    width: 98.9vw;
    overflow: hidden;
    box-shadow: 0px 10px 10px -10px black;
}

#homepage-main-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#homepage-doggy-adopt-me {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 40px 40px 60px 40px;
    height: 70vh;
    overflow: hidden;
    background-color: #ABBDC3;
    box-shadow: 0px -10px 10px -10px black;
}

#homepage-doggy-adopt-me img {
    height: 478px;
    width: 360px;
}

#corner-design img:nth-child(1) {
    position: absolute;
    top: -50px;
    right: -50px;
}

#corner-design img:nth-child(2) {
    position: absolute;
    bottom: -50px;
    left: -50px;
    transform: rotate(180deg);
}

#corner-design img:nth-child(3) {
    position: absolute;
    top: 420px;
    right: 420px;
    height: 150px;
    width: 150px;
}

#corner-design img:nth-child(5) {
    position: absolute;
    top: 90px;
    right: 447px;
    height: 45px;
    width: 50px;
}

#homepage-doggy-adopt-me-description {
    text-align: center;
}

#homepage-doggy-adopt-me-description h1 {
    max-width: 500px;
    font-family: buffalo;
    font-size: 40px;
    font-weight: 100;
    color: white;
}

#homepage-doggy-adopt-me-description h2 {
    max-width: 500px;
    font-family: buffalo;
    font-size: 40px;
    font-weight: 100;
    color: white;
}

#homepage-doggy-adopt-me-description button {
    margin: 20px 0 0 0;
    padding: 10px 20px 10px 20px;
    background-color: #5F737B;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.548);
    font-weight: bold;
    color: white;
}

#corner-design .circle {
    position: absolute;
    top: 71px;
    right: 435px;
    height: 75px;
    width: 75px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.342);
}

#text-on-image {
    position: absolute;
    left: 50px;
    top: 160px;
    font-size: 60px;
    font-family: benedict;
    font-weight: 500;
    color: #f47a00;
    transform: rotate(-6deg);
}

#social-media-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0 0 0;
}

#social-media-buttons a {
    margin: 0 13px 0 13px;
}

#facebook-favicon {
    height: 50px;
    width: 50px;
}

#gmail-favicon {
    height: 40px;
    width: 50px;
}

.circle {
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.575);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.about-modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    height: 60vh;
    width: 40%;
    background-color: #fefefed8;
    border: 1px solid #888;
    border-radius: 10px;
}

.about-modal-content h1 {
    margin-bottom: 20px;
}

.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    height: 51vh;
    width: 25%;
    background-color: #fefefed8;
    border: 1px solid #888;
    border-radius: 10px;
}

.modal-content form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-content form h1 {
    margin: 20px 0 20px 0;
    font-size: 40px;
}

.modal-content form a, hr {
    margin: 15px 0 0px 0;
}

a {
    color: black;
}

input[type="email"], input[type="password"] {
    height: 30px;
    width: 70%;
}

input[type="submit"] {
    height: 30px;
    width: 30%;
    border-radius: 10px;
    border: 1px solid black;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #888888;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.vertical-divider {
    height: 60%;
    width: 2px;
    margin: 0 10px;
    background-color: black;
}

.divider {
    height: 2vh;
    background-color: #111111;
}


@font-face {
    font-family: buffalo;
    src: url(fonts/Buffalo.ttf);
}

@font-face {
    font-family: benedict;
    src: url(fonts/Benedict\ Regular.otf);
}